<p><b>Nº de preguntas:</b> <%= lonQuiz %></p>
<p><b>Nº de comentarios:</b> <%= nCom %></p>
<p><b>Nº medio de comentarios por pregunta:</b> <%= mediaCom %></p>
<p><b>Nº de preguntas sin comentarios:</b> <%= sinCom %></p>
<p><b>Nº de preguntas con comentarios:</b> <%= conCom %></p>